.ui-pnotify.stack-bar-top {
    opacity     : 0.9 !important;
    margin-left : 15% !important;
    left        : 0 !important;
    top         : 0 !important;
}

.ui-pnotify.stack-bar-bottom {
    opacity     : 0.9 !important;
    bottom      : 0 !important;
    left        : auto !important;
    margin-left : 15% !important;
    right       : auto !important;
    top         : auto !important;
    height      : 100px;
}

.ui-pnotify.stack-bar-top-right {
    opacity : 0.9 !important;
    top     : 70px !important;
    right   : 15px !important;
}

.ui-pnotify.stack-bar-top-content-full {
    opacity     : 0.9 !important;
    bottom      : auto !important;
    left        : auto !important;
    margin-left : 19% !important;
    right       : auto !important;
    top         : 60px !important;
    height      : 100px;
}

.ui-pnotify-icon {
    margin-top : 2px !important;
}
