<div class="jumbotron">
  <h1 class="text-center">Bem vindo ao Contato MEAN</h1>
</div>

<a class="btn btn-primary" ng-href="#/contato" >Novo Contato</a>

<div class="row">
  <div class="col-md-6">
    <h4>Contatos cadastrados: {{contatos.length}}</h4>
  </div>
  <div class="col-md-3 pull-right">
    <input type="search" ng-model="filtro" class="form-control" placeholder="pesquisar nome">
  </div>
</div>

<p class="text-info" ng-hide="contatos.length">
  Não há contatos cadastrados.
</p>

<div class="table-responsive" ng-show="contatos.length">
  <table class="table table-hover">
    <tr>
      <td>NOME</td>
      <td>E-MAIL</td>
      <td class="text-center">AÇÃO</td>
    </tr>
    <tr ng-repeat="contato in contatos | filter: filtro">
      <td>
        <a ng-href="#/contato/{{ contato._id }}">{{contato.nome}}</a>
      </td>
      <td>{{contato.email}}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-warning" ng-disabled="contato.disabled" ng-click="remover(contato)" >
          Remover
        </button>
      </td>
    </tr>
  </table>
</div>
